In [ ]:
## dictionary is an mutable data type
## it works in a key and pair value
## it is represented by {}

In [2]:
a={'India':'rohith sharma','srilanka':'malinga','australia':'ricky'}
a

{'India': 'rohith sharma', 'srilanka': 'malinga', 'australia': 'ricky'}

In [3]:
a={'India':'rohith sharma','srilanka':'malinga','australia':'ricky'}
print(a)
print(type(a))

{'India': 'rohith sharma', 'srilanka': 'malinga', 'australia': 'ricky'}
<class 'dict'>

### create your own dat

In [4]:
fruits={}

fruits['apple']=20
fruits['banana']=30
fruits['mango']=50

print(fruits)

{'apple': 20, 'banana': 30, 'mango': 50}

In [5]:
courses = {'first': 'datascience' , 'second':'Javascripts' , 'third' : 'Java'}

courses['third']  # if we want to call values means we need to use their keys

'Java'

In [6]:
courses['first']

'datascience'

### one key multiple values

In [7]:
a = {'India' : ['ROhit','Dhoni'] , 'Australia' : ['Gulchrist' , 'hidden']}

{'India': ['ROhit', 'Dhoni'], 'Australia': ['Gulchrist', 'hidden']}

In [14]:
a['india']

KeyError: 'india'

In [11]:
a = {'India' : ['ROhit','Dhoni'] , 'Australia' : ['Gulchrist' , 'hidden']}

KeyError: 'india'

In [13]:
a['australia']

'ricky'

### dictionary is mutable

In [17]:
info={'name':'sai','age':25}
info

{'name': 'sai', 'age': 25}

In [20]:
info['age']=30
print(info)

{'name': 'sai', 'age': 30, 'sai': 30}

In [21]:
information = {'Name' : 'kamal' , 'Age' : 50}

information.update(Name = 'datascience')

In [22]:
information

{'Name': 'datascience', 'Age': 50}