### first pragram

In [3]:
a=12
print(a)
print(type(a))

12
<class 'int'>

In [6]:
a=12.000
print(a)
print(type(a))

12.0
<class 'float'>

In [7]:
a="sai kumar"
print(a)
print(type(a))

sai kumar
<class 'str'>

In [8]:
9a=12
print(a)

SyntaxError: invalid syntax (3353387617.py, line 1)

In [10]:
a2="sai"
print(a2)

sai

In [11]:
a a=15.5
print(a a)

SyntaxError: invalid syntax (3485006018.py, line 1)

In [12]:
a_a=45.45
print(a_a)

45.45

In [13]:
a="Data science"## case sensitive
print(A)

NameError: name 'A' is not defined

In [14]:
a="data science" ## python is case sensitive
print(a)

data science

 # We should not use special characters

In [15]:
@="sai kumar"
print(@)

SyntaxError: invalid syntax (3248265227.py, line 1)

## Changing Data type

In [18]:
a=12
print(a)
print(type(a))
print() ## for spacing
print()
a=float(a)
print(a)
print(type(a))

12
<class 'int'>


12.0
<class 'float'>

In [19]:
a="sai"
print(a)
print(type(a))
print()
print()
a=int(a)
print(a)
print(type(a))

sai
<class 'str'>

ValueError: invalid literal for int() with base 10: 'sai'

## Run time value

In [20]:
a=input()
print(a)

78
78

In [22]:
a=input("Enter a number= ")
print(a)

Enter a number= 34
34

### Joining text and veriable

In [29]:
a="Sai kumar"
print("i am "+a)

i am Sai kumar

In [30]:
a=24
print("i am sai kumar and my age is %d"%a)

i am sai kumar and my age is 24

In [31]:
a="sai kumar"
b="Data science"
c=500000
print("i am %s learning %s to earn %d per month"%(a,b,c))

i am sai kumar learning Data science to earn 500000 per month